@import url("./Assets/Fonts/RobotoSlab/style.css");
@import "tailwindcss";
@config "../tailwind.config.js";

html,
body {
  margin: 0;
  color: #333;
}

/* https://stackoverflow.com/a/45050338 */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

* {
  user-select: none;
  outline: none;
}
